
/* theme color */
$bg-color: #d8dfff;  /*主题背景颜色*/
$cardBox-color: #fff;     /*卡片盒子颜色*/
$btn-border-color: #fff;
$color-primary: #0F8CFF;


/* cardBox  */
$cardBox-border-radius: 24px;
$cardBox-padding: 10px 20px;


/* banner */



/* dropMenu */
$menu-icon-color: #000;
$menu-icon-font-size: 24px;
$menu-color: #000;
$menu-font-color: #fff;
$menu-border-radius: 8px;
$menu-padding: 14px 10px;
$menu-font-size: 14px;

/* Button */
$btn-color: #1B1C1F;
$btn-font-color: #fff;
$btn-border-color: #fff;
$btn-font-size: 20px;



/* listItem */
$item-color: #F5F6F7;
$item-color-done: rgb(15,140,255,8%);
$item-border-radius: 4px;
$item-font-color: #1B1C1F;
$item-font-size: 16px;



/* checkBox */
$checkBox-color: rgb(101,106,114,16%);
$checkBox-color-done: #0F8CFF;
$checkBox-font-color: #fff;
$checkBox-font-size: 20px;
$checkBox-border-radius: 4px;